.header {
  height: 110px;
}
.navegator {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.nav-item a {
  transition: text-decoration 0.3s ease;
}
.nav-item a:hover {
  text-decoration: underline;
}
.title-header {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  font-style: italic;
}
.img-home {
  width: 80%;
}
.section-title {
  font-family: "Bebas Neue", cursive;
  font-size: 50px;
  display: flex;
  background-color: rgb(24, 24, 24);
  color: rgb(253, 253, 253);
  justify-content: center;
}
@media only screen and (min-width: 748px) {
  .title-header {
    font-size: 60px;
    
  }
  .section-title {
    font-size: 80px;
  }
}
