.header {
  height: 110px;
}
.navegator {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.nav-item a {
  transition: text-decoration 0.3s ease;
}
.nav-item a:hover {
  text-decoration: underline;
}
.title-header {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
}
.img-home {
  width: 80%;
}
